.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
    opacity: 0;
}

.example-leave.example-leave-active {
  opacity: 0;
}

.page-enter, .page-leave {
  position: absolute;
  -webkit-transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
  //transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;

}


.page-leave {
  opacity: 1;
}
.page-leave.page-leave-active {
  opacity: 0;
  transition: opacity .2s ease-in;
}

.page-enter {
  opacity: 0;
}
.page-enter.page-enter-active {
  opacity: 1;
  /* Delay the enter animation until the leave completes */
  transition: opacity .2s ease-in .3s;
}

.page-height {
  transition: height .3s ease-in-out;
}
