
form {
    margin: 20px;
    width: 115px;
    button {
        background: #444;
        color: #eee;
        border: none;
        font-size: .8rem;
        //font-family: "montserrat", sans-serif;
        padding: 4px 8px;
        height: 23px;
        box-sizing: border-box;
    }
}
