nav {
    //background: red;
    font-family: 'Josefin Sans';
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    flex-direction: row-reverse;
    width: 100%;
    ul {
        margin: 0;
        padding: 0;
        li {
            line-height: 50px;
            display: inline;
            margin: 0 4px;
            a{
                color: $mainColor;
                text-decoration: none;
                position: relative;


                &:after{
                    content: '';
                    position: absolute;
                    width: 0%;
                    height: 2px;
                    background: #666;
                    right: 50%;
                    bottom: -5px;
                    transition: .25s all ease;
                }
                &:before{
                    content: '';
                    position: absolute;
                    width: 0%;
                    height: 2px;
                    background: #666;
                    left: 50%;
                    bottom: -5px;
                    transition: .25s all ease;

                }
                &:hover {
                    color: #444;
                    &:after{
                        width: 50%;
                        right: 50%;
                        background: $textColor
                    }
                    &:before{
                        width: 50%;
                        left: 50%;
                        background: $textColor
                    }
                }
                &.active {
                    color: #222;
                    &:after{
                        width: 50%;
                        right: 50%;
                        background: #222;

                    }
                    &:before{
                        width: 50%;
                        left: 50%;
                        background: #222;

                    }
                }
            }
        }
    }
}
